@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Lora:ital,wght@1,400;1,700&family=Overpass:wght@400;700&family=Poppins:wght@300;600&display=swap');
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.header {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url('images/header-background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.header__left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__left h1 {
    color: rgb(39, 98, 177);
    font-size: 2.5rem;
    padding: 4rem;
    padding-right: 8rem;
    text-transform: capitalize;
    font-family: 'Lora', serif;
}

.header__right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
}

.header__right h2, .header__right p{
    color: white;
}   

.header__right h2 {
    padding-bottom: 1rem;
    font-family: 'Lora', serif;
}
.header__right p {
    padding-bottom: 1rem;
}

.login {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.login input {
    width: 100%;
    background-color: rgb(225, 227, 230);
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}



.login input::placeholder {
    color: rgb(170, 166, 166);
}

.login button {
    background-color: rgb(255, 217, 0);
    color: black;
    padding: .5rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
}

.italic {
    font-style: italic;
    font-family: inherit;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
    background-color: rgb(233, 233, 233);
}

.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    background-color: white;
    border-radius: 1rem;
    transform: translateY(-15%);
}


.cards h2 {
    font-family: 'Lora', serif;
    margin-bottom: 2rem;
}

.cards img {
    background-color: rgb(255, 217, 0);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -2.5rem;
    margin-bottom: 2rem;
}

.cards span {
    font-style: italic;
}

.cards p {
    text-align: center;
}

.cards a {
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(43, 42, 42);
    margin-bottom: 2rem;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 5rem 5rem;
}

.grid-1 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('images/gallery1.jpg');
    background-position: center;
    background-size: cover;
}

.grid-1 img {
    object-fit: cover;
    width: 100%;
}

.grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-2 h2 {
    margin-bottom: 1rem;
    font-family: 'Lora', serif;
}

.grid-2 button {
    width: 10rem;
    background-color: rgb(255, 217, 0);
    padding: 1rem 2rem;
    margin: 1rem 0 2rem 0;
    border-radius: 2rem;
}


.grid-3 {
    background-image: url('images/gallery2.jpg');
    background-size: cover;
    background-position: center;
}
.grid-4 {
    background-image: url('images/gallery3.jpg');
    background-size: cover;
    background-position: center;
}
.grid-5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:rgb(255, 217, 0);
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}


.grid-5 ul {
    margin: 1rem;
   
}

.grid-5 li {
    margin: 1rem 0;
}

.benefits {
    background-image: url('images/background-benefits.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    height: fit-content;
    padding: 3rem 4rem;
}

.benefits h2 {
    text-align: center;
    margin: 3rem 0;
    color: white;
    font-size: 3rem;
    font-family: 'Lora', serif;
}
.benefits__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.benefits__grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 2rem;
    padding: 0 3rem;
}

.benefits__grid span {
    font-size: 2rem;
    font-weight: bold;

    color:rgb(255, 217, 0);

    margin: 2rem 0 1rem 0;
    
}

.benefits__grid h3 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;    
}

.benefits__grid p {
    color:rgb(112, 111, 111);
    text-align: center;
    margin-bottom: 1rem;
}

.benefits__grid a {
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(43, 42, 42);
    margin-bottom: 4rem;
    font-weight: bold;
}
.our__team {
    background-color: rgb(226, 226, 226);
    gap: 2rem;
    padding: 2rem 5rem;

}
.team__cards  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    gap: 2rem;
}   

.team__cards img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.team__title h2, .team__title p:first-of-type {
    text-align: center;
}
.team__title h2 {
    font-family: 'Lora', serif;
    font-size: 3rem;
    margin: 2rem 0 1rem 0;
    font-style: italic;
}
.team__cards div {
    
    align-items: center; 
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team__title p:first-of-type {
    margin-bottom: 3rem;
}

.team__cards h3 {
    font-family: 'Lora', serif;
    margin-bottom: .5rem;
}

.team__cards span {
    color:rgb(255, 217, 0);
    font-weight: bold;
    margin-bottom: 2rem;
}

.team__cards p {
    text-align: center;
    font-size: .9rem;
}

.icons img {
    height: 2rem;
    width: 2rem;
    display: block;
    transition: transform 500ms 500ms ease-in-out;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -2.5rem 3rem 0 3rem;
    transition: transform 500ms 100ms ease-in-out;
}

.icons img:hover {
    transform: scale(150%);
    transition: transform 500ms 100ms ease-in-out;
}

.grid__pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 40rem;
}

.grid__pictures_1 {
    background-image: url(images/grid1.jpg);
    background-size: cover;
    background-position: center;
}

.grid__pictures_2 {
    background-image: url(images/grid2.jpg);
    background-size: cover;
    background-position: center;
   
}
.grid__pictures_3 {
    background-image: url(images/grid3.jpg);
    background-size: cover;
    background-position: center;
    
}
.grid__pictures_4 {
    background-image: url(images/grid4.jpg);
    background-size: cover;
    background-position: center;
    
}
.grid__pictures_5 {
    background-image: url(images/grid5.jpg);
    background-size: cover;
    background-position: center;
   
}

.grid__pictures_6 {
    background-image: url(images/grid6.jpg);
    background-size: cover;
    background-position: center;
   
}
.elegance {
    display: flex;
    padding-top: 10rem;
}

.elegance__left {
    height: fit-content;
    padding: 0 4rem;
    padding-bottom: 5rem;
    width: 50%;
}

.elegance__left h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    
}

.elegance__left p {
    margin-bottom: 1rem;
    padding-right: 3rem;
    color:rgb(112, 111, 111)
}

.elegance__left button {
    color: black;
    background-color:rgb(255, 217, 0);
    padding: .75rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    
}

.elegance__right {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-right: 4rem;
}
.elegance__background {
    background: url('images/road.jpg');
    background-size: cover;
    background-position: center;
}

.elegance__right span {
    color:rgb(255, 217, 0);
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.premium {
    background-image: url('images/premium-plans.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: fit-content;
}
.premium__title {
    text-align: center;
    color: white;
    padding: 3rem 0;
    margin: 0 15rem;
}

.premium__title h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
    
}
.box {
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    
}

.premium__title h2 {
    font-family: 'Lora', serif;
}
.box ul {
    list-style-type: none;
}

.box span {
    font-weight: bold;
    text-transform: uppercase;
    
}

.box h2 {
    font-size: 3rem;
    
}

.box p {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
}

.box li {
    padding-bottom: .3rem;
}

.box li:last-of-type {
    margin-bottom: 2rem;
}

.box button {
    background-color:rgb(255, 217, 0);
    padding: .8rem 3rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
}

.quote {
    display: flex;
    padding-top: 7.5rem;
}

.quote div {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 5rem 5rem;
}

.quote div button {
    background-color:rgb(255, 217, 0);
    padding: .75rem 2rem;
    text-transform: uppercase;
    width: 10rem;
}

.quote h2, .quote p {
    margin-bottom: 1rem;
}




 
